*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
.header{

    min-height: 400px;
}
.container{
    
    max-width: 1400px;
    padding: 0 70%;
    display: inline;
}