*{
    padding: 50px;
    margin: 10px;
    box-sizing: border-box;
}
body{
    background-color: rgb(251, 251, 251);
}
container{
    border-radius: 80px;
}
input{
    background-color: rgb(255, 0, 191);

}
button{
    padding: 8px;
    border-color: rgb(255, 0, 111) ;
    border-radius: 52px;
}
h2{
    color: aqua;
}